<!DOCTYPE html>
<html>
    <head>
        <title>RESTful Blog</title>
        <!--<link rel="icon" href="https://cdn3.iconfinder.com/data/icons/user-interface-web-1/550/web-circle-circular-round_11-512.png" type="image/x-icon" />-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <!--<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">-->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    </head>
    <body>