<!DOCTYPE html>
<html>
    <head>
        <title>üAutomate</title>
        <!--<link rel="icon" href="" type="image/x-icon" />-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    </head>
    <body>
        
        <!--Pointing Menu-->
        <div class="ui fixed inverted menu borderless">
            <div class="ui container">
                <div class="item">
                    <a href="/">
                        <i class="code icon"></i>
                        üAutomate
                    </a>
                </div>
                <a class="item" href="/dashboard">Dashboard</a>
                
                <div class="right menu">
                    <a class="item">Sign Up</a>
                    <a class="item">Login</a>
                </div>    
            </div>
        </div>