<% include ./partials/header %>

<div class="ui main text container raised segment" id="wrapper">
    
        <div class="ui items" style="padding: 2em; margin-top: 0">
            
            <h1 class="ui header">Dashboard</h1>
            <div class="ui divider" style="margin-bottom: 50px"></div>
            
<!--Switch 1-->
            <div class="item">
                <div class="ui small image">
                    <img src="https://images.unsplash.com/photo-1492539161849-b2b18e79c85f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        GPIO 5
                    </div>
                    <div class="description">
                        <p>Controls the Bulb</p>
                    </div>
                    <div class="extra">
                        <div class="ui right floated toggle checkbox">
                            <input type="checkbox" name="public">
                            <label></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
<!--Switch 2-->
            <div class="item">
                <div class="ui small image">
                    <img src="https://images.unsplash.com/photo-1523437345381-db5ee4df9c04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        GPIO 4
                    </div>
                    <div class="description">
                        <p>Controls the Fan</p>
                    </div>
                    <div class="extra">
                        <div class="ui right floated toggle checkbox">
                            <input type="checkbox" name="public">
                            <label></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
<!--Switch 3-->            
            <div class="item">
                <div class="ui small image">
                    <img src="https://images.unsplash.com/photo-1541480601022-2308c0f02487?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        GPIO 14
                    </div>
                    <div class="description">
                        <p>Controls the Alarm</p>
                    </div>
                    <div class="extra">
                        <div class="ui right floated toggle checkbox">
                            <input type="checkbox" name="public">
                            <label></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
<!--Switch 4-->
            <div class="item">
                <div class="ui small image">
                    <img src="https://images.unsplash.com/photo-1541519920349-237d9c325cac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        GPIO 12
                    </div>
                    <div class="description">
                        <p>Controls the LEDs</p>
                    </div>
                    <div class="extra">
                        <div class="ui right floated toggle checkbox">
                            <input type="checkbox" name="public">
                            <label></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
    
</div>

<% include ./partials/footer %>


