<% include ./partials/header %>

<div class="ui container" id="wrapper">
            
    <div class="ui segment" id="dashboard">
        <div class="ui two column very relaxed grid">
            <div class="four wide column center aligned" id="overview">
                <div class="ui container">
                    <h1 class="ui header" style="margin-top: 4em">Settings</h1>
                <div id="overviewSettings">
                    <a href="#" class="ui small header">Account</a>
                    <a href="#" class="ui small header">Privacy</a>
                    <a href="#" class="ui small header">Notifications</a>
                    <a href="#" class="ui small header">Social</a>
                </div> 
                </div>
                
            </div>

            <div class="twelve wide column" id="controlPanel">
                
            </div>
        </div>
    </div>
            
    
</div>

<% include ./partials/footer %>


