<% include ./partials/header %>

<!-- Page preloader -->
    <div id="hola">
        <div id="preloader">
            <img src="images/preload_logo.svg" alt=""/> </div>
    </div>
    
    
    <main>
    <div class="cd-index cd-main-content">
        <div class="heady">
            <div class="logo"><a href="index.html"><img src="images/logo.svg" alt="logo"/></a></div>
            <div class="navitems">
                <div class="navcolumn">
                		<h2>About</h2>
                		<p>Home</p>
                		<a class="cd-btn" href="about.html#top" data-type="page-transition">Our Story</a>
                </div>
              	<div class="navcolumn">
                		<h2>Account</h2>
                		<a class="cd-btn" href="#" data-type="page-transition">Dashboard</a>
                		<a class="cd-btn" href="#" data-type="page-transition">Login</a>
                		<a class="cd-btn" href="#" data-type="page-transition">Sign Up</a>
              	</div>
              	<div class="navcolumn">
              		<h2>Work</h2>
              		<a class="cd-btn" href="https://github.com/VasuGoel/smart-home-automation-system">GitHub</a>
              	</div>
              	<div class="navcolumn">
              		<h2>Contact</h2>
              		<a class="cd-btn" href="contact.html#top" data-type="page-transition">Let's talk</a>
              	</div>
            </div>
    
            <div class="bubbleback"></div>
            <div class="bubble"></div>
            <div class="bubble-wrap">
                <div class="bar first"></div>
                <div class="bar second"></div>
                <div class="bar third"></div>
            </div>
        </div>
    
        <a class="leftylink cd-btn" href="about.html" data-type="page-transition">About Us</a>
      	<a class="rightylink cd-btn" href="contact.html" data-type="page-transition">Contact Us</a>
      	<div class="footleft"><p>© üAutomate 2019</p></div>
      	<div class="footright">
            <a href="https://twitter.com/IamVasuGoel" target="_blank"><img src="images/Twitter.png" width="" height="" alt=""/></a>
            <a href="https://github.com/VasuGoel/smart-home-automation-system" target="_blank"><img src="images/Github.png" width="" height="" alt=""/></a>
        </div>
      	<div class="leftbar"></div>
        <div class="rightbar"></div>
        <div class="planewrap"><img id="plane" class="planey" src="images/plane.png" width="100%" alt=""/><img class="planeymob" src="images/plane.png" width="100%" alt=""/></div>
    
        <div class="wrapper homery">
            <div class="banner"><a name="top"></a>
                <div class="bannertxt">
                    <div class="bannersplat">
                      	<div class="scotty"><img src="images/scotland.png" width="" height="" alt=""/></div>
                        <div class="fluid">
                        </div>
                      	<div class="fluiddark">
                      	</div>
                    </div>
                    <h1><span class="word">Web &nbsp; Control.</span>
                        <span class="word">Motion &nbsp; Detection.</span>
                        <span class="word">Voice &nbsp; Control.</span>
                    </h1>
                </div>
                <div class="scroll bounce"></div>
            </div>
    
            <div class="about">
            	<div class="abouttext"><h2 class="hideme">Hello, We're üAutomate</h2> <p class="hideme">We're a leading designer, developer, marketer and distributor of hi-tech home automation solutions.  <a href="https://github.com/VasuGoel/smart-home-automation-system" target="_blank">@üAutomate</a> <br> With features like motion detection, voice control, web control and so much more.</p></div>
            	<div class="skillz group">
            	     <div class="direction"><div class="skillzpic hideme"><img src="images/direction.png" width="" height="" alt=""/></div><div class="fluid skilly"></div> <h3 class="hideme">Strong Direction</h3><p class="hideme">Our day-to-day involves giving direction on design strategy, architecture and being hands on with the new instruments to constantly try to improve the existing automation solutions.</p></div>
            	     <div class="strategy"><div class="skillzpic2 hideme"><img src="images/strategy.png" width="" height="" alt=""/></div><div class="fluid skillyright"></div><h3 class="hideme">Deep Strategy</h3><p class="hideme">We bring strategic thought to the forefront with every project. We always take the time to do the research and use it to create great experiences that deliver on user needs and business objectives.</p></div>
            		   <div class="design"><div class="skillzpic hideme"><img src="images/design.png" width="" height="" alt=""/></div><div class="fluid skilly"></div><h3 class="hideme">Rockin' Design</h3><p class="hideme">Being creative is at the heart of everything we do. We're obsessed with current trends and always strive to create “what’s next in design” to make lives easier.</p></div>
            	</div>
              </div>
            <div class="work">
                <div class="work1 group">
                    <div class="workpic">
                	       <div class="homework1"><img src="images/londonborn-device.png" width="" height="" alt=""/></div>
                         <div class="homeworksplat">
                              <div class="fluidbig">
                              </div>
                	       </div>
                    </div>
                    <div class="workintro">
                	       <div class="worktext"><h3 class="hideme">London Born</h3><p class="hideme">Aure Wines needed to improve their presence in the Ontario wine market. And considering the roots of their family-owned winery reached back to Britain, soon the London Born Wine Company was, well, born. As part of the bold rebrand, a strong online presence was needed.</p> <a class="cd-btn hideme" href="londonborn.html#top" data-type="page-transition">View Work</a></div>
                    </div>
                </div>
                <div class="work2 group">
                    <div class="workpic2">
                        <div class="homework2"><img src="images/subaru-device.png" width="" height="" alt=""/></div>
                        <div class="homeworksplat2">
                            <div class="fluidbig righty">
                            </div>
                        </div>
                    </div>
                    <div class="workintro2">
                        <div class="worktext2"><h3 class="hideme">Subaru</h3><p class="hideme">This Subaru Dealer was looking to change it up and have a dynamic site that focused on design and usability. They were looking to help people find the car they wanted easily. And, in doing so, the Dealer found some strong results.</p> <a class="cd-btn hideme" href="subaru.html" data-type="page-transition">View Work</a></div>
                    </div>
                </div>
                <div class="work3 group">
                    <div class="workpic">
                        <div class="homework3"><img src="images/valeyo-device.png" width="" height="" alt=""/></div>
                        <div class="homeworksplat">
                            <div class="fluidbig">
                            </div>
                        </div>
                    </div>
                    <div class="workintro hideme">
                        <div class="worktext"><h3>Valeyo</h3><p>Valeyo is more than an insurance provider. They are a SAAS company who needed a clear and concise way to provide information about its technological offerings for its prospective clients.</p> <a class="cd-btn hideme" href="valeyo.html#top" data-type="page-transition">View Work</a></div>
                    </div>
                </div>
            </div>
            <div class="workclose"><img src="images/wavy2.png" width="" height="" alt=""/></div>
            <div class="contactbanner">
                <div class="contacttxt">
                    <h1 class="hideme">I've landed, let's <a class="cd-btn" href="contact.html#top" data-type="page-transition">talk</a></h1>
                </div>
                <div class="bannersplatfoot">
                    <div class="canada"><img src="images/Canada.png" width="" height="" alt=""/></div>
                    <div class="fluid">
                    </div>
                    <div class="fluiddark">
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    </main>

<% include ./partials/footer %>